@import (reference) './common/var.less';
@import (reference) './mixins/config.less';
@import './mixins/_button.less';

@btn: ~"@{namespace}-button";

.@{btn} {
  position: relative;
  display: inline-block;
  padding: 0px 15px;
  height: 32px;
  user-select: none;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 400;
  // border-radius: 4px;
  color: @btn-text-color;
  margin: 20px;
  font-size: @font-size-medium;
  cursor: pointer;
  &:hover {
    
  }
  &.active {
    color: @color-primary;
    border-color: @color-primary;
  }
  .action-loading {
    display: inline-block;
    animation: rotate-360-loading 1.4s linear infinite;
    .icon-loading {
      font-size: inherit;
      color: #fff;
    }
    @keyframes rotate-360-loading {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &-lg {
    padding: 0 22px;
    height: 40px;
    font-size: @font-size-lg;
  }
  &-sm {
    padding: 0 8px;
    height: 20px;
    // border-radius: 2px;
    font-size: @font-size-sm;
  }
  &-round {
    &.@{btn}-lg {
      border-radius: 6px;
    }
    &.@{btn}-default {
      border-radius: 4px;
    }
    &.@{btn}-sm {
      border-radius: 2px;
    }
  }
  &-circle {
    border-radius: 50%;
    &.@{btn}-lg {
      width: 40px;
      height: 40px;
      padding: 4.9px 0;
      // font-size: @font-size-lg;
    }
    &.@{btn}-default {
      width: 32px;
      height: 32px;
      padding: 3px 0;
      font-size: @font-size-medium;
    }
    &.@{btn}-sm {
      width: 20px;
      height: 20px;
      padding: 2px 0;
      font-size: @font-size-sm;
    }
  }
  &-default {
    background-color: #fff;
    color: #000;
    border: 1px solid @color-info;
  }
  &-primary {
    background-color: @color-primary;
  }
  &-info {
    background-color: @color-info;
  }
  &-success {
    background-color: @color-primary;
  }
  &-warning {
    background-color: @color-warning;
  }
  &-error {
    background-color: @color-error;
  }
  .base-wave {
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-iteration-count: 1;
    animation-duration: .4s;
    animation-timing-function: linear, cubic-bezier(.17,.67,.83,.67);
    transition: opacity .4s linear, background-color .4s linear;
  }
}